<!--FOOTER-->

<div id="footer-page" class="footer-container container">

  <div class="footer-desk">
      <p class="footer-text">
        
        <span class="footer-span">Chocolate</span> a delicious cure for a bad
        day
      </p>

      <div class="footer-contacts-social">
        <div class="footer-contacts">
          <p class="contacts-text">Contact us</p>

          <address class="footer-address">
            <ul class="footer-address-list list">
              <li class="footer-item-tel">
                <a class="footer-address-link link" href="tel:+380684439426"
                  >+380 (68) 443-94-26</a
                >
              </li>

              <li class="footer-item-mail">
                <a
                  class="footer-address-link link"
                  href="mailto:simplychoc@gmail.com"
                  target="_blank"
                  rel="noopener noreferrer"
                  >simplychoc@gmail.com</a
                >
              </li>
            </ul>
          </address>
        </div>

        <div class="footer-social">
          <ul class="footer-social-list">
            <li class="footer-social-item">
              <a
                class="footer-social-link link"
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="instagram icon"
              >
                <svg class="footer-social-icon" width="24" height="24">
                  <use href="../img/sprite.svg#instagram-footer"></use>
                </svg>
              </a>
            </li>

            <li class="footer-item-social">
              <a
                class="footer-social-link link"
                href="https://twitter.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="twitter icon"
              >
                <svg class="footer-social-icon" width="24" height="24">
                  <use href="../img/sprite.svg#twitter-footer"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="footer-nav-linl link" href="/src/partials/hero.html"
            >Home</a
          >
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-linl link" href="#how-its-made"
            >How it’s made?</a
          >
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-linl link" href="#our-products">Our products</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-linl link" href="#top-sellers">Top sellers</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-linl link" href="#chocolate-is-loved">
            Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>