<div class="footer-container container">
  <p class="footer-text">
    <span class="footer-span">Chocolate</span> a delicious cure for a bad day
  </p>

  <div class="contacts">
    <p class="contacts-text">Contact us</p>

    <address class="footer-address">
      <ul class="footer-address-list">
        <li class="footer-item-tel">
          <a class="footer-address-link link" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
        </li>

        <li class="footer-item-mail">
          <a
            class="footer-address-link link"
            href="mailto:simplychoc@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            >simplychoc@gmail.com</a
          >
        </li>
      </ul>
    </address>
  </div>

  <div class="footer-social">
    <ul class="footer-social-list">
      <li class="footer-social-item">
        <a
          class="footer-social-link link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram icon"
        >
          <svg class="footer-social-icon" width="24" height="24">
            <use href="./images/icons.svg#instagram-footer"></use>
          </svg>
        </a>
      </li>

      <li class="footer-item-social">
        <a
          class="footer-social-link link"
          href="https://twitter.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="twitter icon"
        >
          <svg class="footer-social-icon" width="24" height="24">
            <use href="./images/icons.svg#twitter-footer"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <!--Полосу поставлю, як псевдоелемент ::before ДО nav-->

  <nav class="footer-nav">
    <ul class="footer-page-list">
      <li class="footer-page-item">
        <a
          class="footer-nav-linl link"
          href="/src/partials/hero.html"
          target="_blank"
          rel="noopener noreferrer"
          >Home</a
        >
      </li>

      <li class="footer-page-item">
        <a
          class="footer-nav-linl link"
          href="src/partials/how-its-made.html"
          target="_blank"
          rel="noopener noreferrer"
          >How it’s made?</a
        >
      </li>

      <li class="footer-page-item">
        <a
          class="footer-nav-linl link"
          href="src/partials/our-products.html"
          target="_blank"
          rel="noopener noreferrer"
          >Our products</a
        >
      </li>

      <li class="footer-page-item">
        <a
          class="footer-nav-linl link"
          href="src/partials/top-sellers.html"
          target="_blank"
          rel="noopener noreferrer"
          >Top sellers</a
        >
      </li>

      <li class="footer-page-item">
        <a
          class="footer-nav-linl link"
          href="src/partials/reviews.html"
          target="_blank"
          rel="noopener noreferrer"
        >
          Chocolate is loved</a
        >
      </li>
    </ul>
  </nav>
</div>
