<!-- Section HERO -->
<div class="">
  <div class="hero-container container">
    <div class="hero-content">
      <h1 class="hero-title visually-hidden">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h1>
      <h2 class="hero-uppertitle">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="hero-buttons-div">
        <ul class="hero-button-list list">
          <li class="hero-button-list-item-one">
            <button
              data-modal-open
              class="hero-button-list-button"
              type="button"
            >
              Buy now
            </button>
          </li>
          <li class="hero-button-list-item">
            <!-- кнопку якоря на текущей странице придеться сделать с помощью js -->
            <a
              class="hero-button-list-button-link link"
              href="../partials/how-its-made.html"
            >
              How it’s made
            </a>
          </li>
        </ul>

        <div class="hero-scroll-down-div">
          <a href="../partials/footer.html" class="hero-scroll-down-text"
            >scroll down</a
          >
          <!-- кнопку якоря на текущей странице придеться сделать с помощью js -->
          <a href="../partials/footer.html" class="hero-scroll-down-link link">
            <svg class="hero-scroll-down-icon" width="28" height="28">
              <use href="../img/sprite.svg#icon-2"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MODAL BUY NOW -->
<div class="backdrop-modal-buy-now is-hidden" data-modal>
  <div class="modal-buy-now-cont">
    <div class="modal-buy-now-content">
      <button type="button" data-modal-close class="modal-buy-close-button">
        <svg
          class="modal-buy-close-icon"
          width="8"
          height="8"
          id="modal-buy-close-icon"
        >
          <use href=""></use>
        </svg>
      </button>
      <strong class="modal-buy-now-title"
        ><span class="modal-buy-now-title-word">BUY </span>NOW</strong
      >
      <ul class="modal-buy-now-list list">
        <li class="modal-buy-now-list-item">
          <div class="modal-buy-now-list-item-img-and-text">
            <img
              srcset="
                ../img/hero-and-buynow-imgs/buy-now-first-chocolate-mobile-1x.jpg  1x,
                ../img/hero-and-buynow-imgs/buy-now-first-chocolate-mobile-2x.jpg  2x,
                ../img/hero-and-buynow-imgs/buy-now-first-chocolate-desktop-1x.jpg 1x,
                ../img/hero-and-buynow-imgs/buy-now-first-chocolate-desktop-2x.jpg 2x
              "
              src="../img/hero-and-buynow-imgs/buy-now-first-chocolate-mobile-1x.jpg"
              alt="chocolate-one"
              class="modal-buy-now-list-item-img-chocolate"
            />
            <div class="modal-buy-now-list-item-div">
              <p class="modal-buy-now-list-item-text">100 g</p>
            </div>
          </div>
        </li>
        <li class="modal-buy-now-list-item">
          <div class="modal-buy-now-list-item-img-and-text">
            <img
              src="../img/hero-and-buynow-imgs/buy-now-second-chocolate-mobile-1x.jpg"
              alt="chocolate-two"
              class="modal-buy-now-list-item-img-chocolate"
            />
            <div class="modal-buy-now-list-item-div">
              <p class="modal-buy-now-list-item-text">200 g</p>
            </div>
          </div>
        </li>
        <li class="modal-buy-now-list-item">
          <div class="modal-buy-now-list-item-img-and-text">
            <img
              src="..//img/hero-and-buynow-imgs/buy-now-third-chocolate-mobile-1x.jpg"
              alt="chocolate-three"
              class="modal-buy-now-list-item-img-chocolate"
            />
            <div class="modal-buy-now-list-item-div">
              <p class="modal-buy-now-list-item-text">300 g</p>
            </div>
          </div>
        </li>
      </ul>

      <form>
        <label for="personal-inf">Personal information</label>
        <input
          type="text"
          name="personal-inf"
          class="form-buy-now-field-personal"
          id="personal-inf"
          placeholder="Name"
        />
        <input
          type="text"
          name="personal-inf"
          class="form-buy-now-field-personal"
          id="personal-inf-two"
          placeholder="Surname"
        />

        <label for="personal-email">Email</label>
        <input
          type="email"
          name="personal-email"
          class="form-buy-now-field-email"
          id="personal-email"
          placeholder="Enter your email"
        />
        <label for="personal-tell">Phone number</label>
        <div>
          <input
            type="tel"
            name="personal-tell"
            class="form-buy-now-field-phone"
            id="personal-tell"
            placeholder="Phone number"
          />
          <svg class="" width="32" height="32">
            <use href="../img/sprite.svg#icon-LeftIcon"></use>
          </svg>
          <p>+380</p>
        </div>
        <label for="personal-card">Card number</label>
        <input
          type="text"
          name="personal-card"
          class="form-buy-now-field-card"
          id="personal-card"
          placeholder="Enter card"
        />
        <svg class="" width="44" height="30">
          <use href="../img/sprite.svg#icon-Mastercard"></use>
        </svg>
        <label for="client-comment">Comment</label>
        <textarea
          name="client-comment"
          class="form-buy-now-field-comment"
          id="client-comment"
          placeholder="Enter text"
        >
        </textarea>

        <button type="submit">Sumbit</button>
      </form>
    </div>
  </div>
</div>
