<!-- Section HERO -->

<div class="hero-container container">
  <h1 class="hero-title visually-hidden">
    Treat yourself or a loved one to our finest ingredients for a moment of pure
    delight!
  </h1>
  <p class="hero-uppertitle">
    Treat yourself or a loved one to our finest ingredients for a moment of pure
    delight!
  </p>
  <div class="hero-buttons-div">
    <ul class="hero-button-list list">
      <li class="hero-button-list-item">
        <button class="hero-button-list-button" type="button">Buy now</button>
      </li>
      <li class="hero-button-list-item">
        <!-- кнопку якоря на текущей странице придеться сделать с помощью js -->
        <a
          class="hero-button-list-button-link link"
          href="../partials/how-its-made.html"
        >
          How it’s made
        </a>
      </li>
    </ul>

    <div class="hero-scroll-down-div">
      <p class="hero-scroll-down-text">scroll down</p>
      <!-- кнопку якоря на текущей странице придеться сделать с помощью js -->
      <a href="../partials/footer.html" class="hero-scroll-down-link link">
        <svg class="hero-scroll-down-icon" width="22" height="22">
          <use href=""></use>
        </svg>
      </a>
    </div>
  </div>
</div>

<!-- MODAL BUY NOW -->

<div class="container">
  <strong>BUY NOW</strong>
  <ul>
    <li>
      <div>
        <p>100 g</p>
      </div>
    </li>
    <li>
      <div>
        <p>200 g</p>
      </div>
    </li>
    <li>
      <div>
        <p>300 g</p>
      </div>
    </li>
  </ul>

  <form>
    <label for="personal-inf">Personal information</label>
    <input
      type="text"
      name="personal-inf"
      class="form-buy-now-field-personal"
      id="personal-inf"
      placeholder="Name"
    />
    <input
      type="text"
      name="personal-inf"
      class="form-buy-now-field-personal"
      id="personal-inf-two"
      placeholder="Surname"
    />

    <label for="personal-email">Email</label>
    <input
      type="email"
      name="personal-email"
      class="form-buy-now-field-email"
      id="personal-email"
      placeholder="Enter your email"
    />
    <label for="personal-tell">Phone number</label>
    <div>
      <input
        type="tel"
        name="personal-tell"
        class="form-buy-now-field-phone"
        id="personal-tell"
        placeholder="Phone number"
      />
      <svg class="" width="32" height="32">
        <use href=""></use>
      </svg>
      <p>+380</p>
    </div>
    <label for="personal-card">Card number</label>
    <input
      type="text"
      name="personal-card"
      class="form-buy-now-field-card"
      id="personal-card"
      placeholder="Enter card"
    />
    <svg class="" width="44" height="30">
      <use href=""></use>
    </svg>
    <label for="client-comment">Comment</label>
    <textarea
      name="client-comment"
      class="form-buy-now-field-comment"
      id="client-comment"
      placeholder="Enter text"
    >
    </textarea>

    <button type="submit">Sumbit</button>
  </form>
</div>
