<section id="how-its-made" class="how-its-made-section section">
  <div class="how-its-made-container container">
    <h2 class="how-its-made-title">
      HOW IT&#8217;S
      <span class="how-its-made-title-accent">made?</span>
    </h2>
    <div class="how-its-made-sections">
      <div class="how-its-made-video-section">
        <iframe
          class="how-its-made-video"
          src="https://www.youtube.com/embed/70FFS9P-wVw"
          title="Made to Melt You"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="how-its-made-text-section">
        <div class="how-its-made-text">
          <p class="how-its-made-subtitle">
            Try our chocolates today and discover the perfect balance of flavor
          </p>
          <ul class="how-its-made-list">
            <li class="how-its-made-item">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </li>
            <li class="how-its-made-item">
              At the same time, prepare a water bath. Melt the butter on it.
            </li>
            <li class="how-its-made-item">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </li>
            <li class="how-its-made-item">
              Heat the mixture over low heat, letting it barely boil.
            </li>
            <li class="how-its-made-item">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
