<section id="our-products" class="our-product">
  <div class="container">
    <h2 class="titel-product">
      Our
      <span class="yellow-titel-product">PRODUCTS</span>
    </h2>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide our-product-slide">
          <img
            class="image-swiper-chokolate"
            srcset="/img/img-products/Orange-chokolate-2x.jpg"
            src="/img/img-products/Orange-chokolate.jpg"
            alt="Orange-chokolate"
            width="230"
            height="201"
          />
          <p class="name-product">orange</p>
          <p class="text-product">Dark chocolate</p>
          <button class="button-price-products" type="button">45 UAH</button>
        </li>
        <li class="swiper-slide our-product-slide">
          <img
            class="image-swiper-chokolate"
            srcset="/img/img-products/Apple-chokolate-2x.jpg"
            src="/img/img-products/Apple-chokolate.jpg"
            alt="Apple-chokolate"
            width="230"
            height="201"
          />
          <p class="name-product">APPLE&CRANBERRY</p>
          <p class="text-product">Milk chocolate</p>
          <button class="button-price-products" type="button">50 UAH</button>
        </li>
        <li class="swiper-slide our-product-slide">
          <img
            class="image-swiper-chokolate"
            srcset="/img/img-products/Lime-chokolate-2x.jpg"
            src="/img/img-products/Lime-chokolate.jpg"
            alt="Lime-chokolate"
            width="230"
            height="201"
          />
          <p class="name-product">lime&sea salt</p>
          <p class="text-product">Dark chocolate</p>
          <button class="button-price-products" type="button">66 UAH</button>
        </li>
        <li class="swiper-slide our-product-slide">
          <img
            class="image-swiper-chokolate"
            srcset="/img/img-products/PineApple-chokolate-2x.jpg"
            src="/img/img-products/PineApple-chokolate.jpg"
            alt="PineApple-chokolate"
            width="230"
            height="201"
          />
          <p class="name-product">pineapple</p>
          <p class="text-product">Dark chocolate</p>
          <button class="button-price-products" type="button">54 UAH</button>
        </li>
        <li class="swiper-slide our-product-slide">
          <img
            class="image-swiper-chokolate"
            srcset="/img/img-products/Classic-milk-chokolate-2x.jpg"
            src="/img/img-products/Classic-milk-chokolate.jpg"
            alt="Classic-milk-chokolate"
            width="230"
            height="201"
          />
          <p class="name-product">Classic</p>
          <p class="text-product">Milk chocolate</p>
          <button class="button-price-products" type="button">45 UAH</button>
        </li>
        <li class="swiper-slide our-product-slide">
          <img
            class="image-swiper-chokolate"
            srcset="/img/img-products/Honey-chokolate-2x.jpg"
            src="/img/img-products/Honey-chokolate.jpg"
            alt="Honey-chokolate"
            width="230"
            height="201"
          />
          <p class="name-product">honey</p>
          <p class="text-product">Milk chocolate</p>
          <button class="button-price-products" type="button">50 UAH</button>
        </li>
        <li class="swiper-slide our-product-slide">
          <img
            class="image-swiper-chokolate"
            srcset="/img/img-products/Roasted-chokolate-2x.jpg"
            src="/img/img-products/Roasted-chokolate.jpg"
            alt="Roasted-chokolate"
            width="230"
            height="201"
          />
          <p class="name-product">Roasted fruits</p>
          <p class="text-product">Dark chocolate</p>
          <button class="button-price-products" type="button">66 UAH</button>
        </li>
        <li class="swiper-slide our-product-slide">
          <img
            class="image-swiper-chokolate"
            srcset="/img/img-products/Classic-white-chokolate-2x.jpg"
            src="/img/img-products/Classic-white-chokolate.jpg"
            alt="Classic-white-chokolate"
            width="230"
            height="201"
          />
          <p class="name-product">Classic</p>
          <p class="text-product">White chocolate</p>
          <button class="button-price-products" type="button">54 UAH</button>
        </li>
      </ul>
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-pagination-active"></div>
    </div>
  </div>
</section>
