<section id="our-products" class="our-product">
  <div class="container">
    <h2 class="titel-product">
      Our
      <span class="yellow-titel-product">PRODUCTS</span>
    </h2>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">Slide 1</div>
        <!-- <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div> -->
        ...
      </div>
      <!-- If we need pagination -->
      <div
        class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"
      >
        <span class="swiper-paginations"></span
        ><span class="swiper-paginations"></span
        ><span class="swiper-paginations"></span
        ><span class="swiper-paginations"></span
        ><span class="swiper-paginations"></span>
      </div>
    </div>
  </div>
</section>
