<section class="reviews" id="chocolate-is-loved">
  <div class="reviews-conteiner-content container">
    <h2 class="reviews-heading">
      <span class="reviews-text-color">Chocolate</span> is loved
    </h2>

    <ul class="reviews-wrapper">
      <li class="reviews-card">
        <div class="reviews-thumb">
          <img
            srcset="/img/reviews/reviews.png 1x, /img/reviews/reviews@2x.png 2x"
            src="/img/reviews/reviews.png"
            alt="foto customer"
            width="80"
            height="80"
          />
        </div>
        <h3 class="reviews-customers-name">Victoria Dobrzhanska</h3>
        <p class="reviews-customers-feedback">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="reviews-card hidden-card-mobil">
        <div class="reviews-thumb">
          <img
            srcset="
              /img/reviews/reviews-1.png    1x,
              /img/reviews/reviews@2x-1.png 2x
            "
            src="/img/reviews/reviews-1.png"
            alt="foto customer"
            width="80"
            height="80"
          />
        </div>
        <h3 class="reviews-customers-name">Nazar Babenko</h3>
        <p class="reviews-customers-feedback">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>

      <li class="reviews-card hidden-tel-tablet">
        <div class="reviews-thumb">
          <img
            srcset="
              /img/reviews/reviews-2.png    1x,
              /img/reviews/reviews@2x-2.png 2x
            "
            src="/img/reviews/reviews-2.png"
            alt="foto customer"
            width="80"
            height="80"
          />
        </div>
        <h3 class="reviews-customers-name">Olena Kampusch</h3>
        <p class="reviews-customers-feedback">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
    </ul>
    <button class="reviews-btn" type="button" data-modal-review-open>
      Leave a review
    </button>
  </div>
</section>

<!-- modal-btm-review -->

<div class="review-backdrop is-hidden" data-modal-review>
  <div class="review-modal">
    <button class="review-close-btn" type="button" data-modal-review-close>
      <svg class="modal-close-icon" width="14" height="14">
        <use href="/img/sprite.svg#icon-close-black-modal-buy"></use>
      </svg>
    </button>
    <h2 class="reviews-modal-heading">
      <span class="reviews-heading-modal-statik">Leave a review </span> about
      <span class="reviews-text-color"> our chocolate</span>
    </h2>

    <form class="reviews-modal-form">
      <label class="review-form-label">
        <input
          class="review-form-field"
          type="text"
          name="user_name"
          placeholder="Name"
          minlength="3"
          maxlength="12"
          autocomplete="off"
          required
          autofocus
        />
      </label>

      <label class="review-form-label">
        <input
          class="review-form-field"
          type="email"
          placeholder="Enter your email"
          name="user_email"
          autocomplete="off"
          required
        />
      </label>

      <label
        class="review-form-label tel-icon-flag reviews-input-phone-wrapper"
        for="personal-tell-input"
      >
        <input
          class="review-form-field review-form-field-margin"
          placeholder="Phone number"
          type="tel"
          inputmode="numeric"
          maxlength="9"
          minlength="9"
          name="personal-tell"
          autocomplete="off"
          id="personal-tell-input"
          required
        />
        <svg class="review-icon-flag" width="24" height="18">
          <use href="/img/sprite.svg#icon-LeftIcon"></use>
        </svg>
        <span class="review-country-code">+380</span>
      </label>
      <label class="review-form-label">
        <textarea
          class="review-form-client review-form-field"
          name="client-review"
          rows="6"
          placeholder="Enter text"
          autocomplete="off"
        ></textarea>
      </label>
      <button class="client-send-review-btm" type="submit">Send</button>
    </form>
  </div>
</div>
