<section class="top-sellers" id="top-sellers">
  <div class="top-sellers-div container">
    <h2 class="sellers-heading subject">
      tOp <span class="sellers-span">Sellers</span>
    </h2>
    <ul class="top-sellers-ul">
      <li class="sellers-item">
        <img
          class="top-sellers-img"
          srcset="
            ./img/top-sellers/img1-335.jpg 335w,
            ./img/top-sellers/img1-344.jpg 344w,
            ./img/top-sellers/img1-368.jpg 368w,
            ./img/top-sellers/img1-670.jpg 670w,
            ./img/top-sellers/img1-688.jpg 688w,
            ./img/top-sellers/img1-736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375) 335px, 100vw"
          src="./img/top-sellers/img1-335.jpg"
          alt="a slide made of chocolate slabs, next to which there are coffee beans and a nut"
          width="335"
          height="464"
        />

        <p class="sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers-item">
        <img
          class="top-sellers-img"
          srcset="
            ./img/top-sellers/image2-335.jpg 335w,
            ./img/top-sellers/img2-344.jpg   344w,
            ./img/top-sellers/img2-368.jpg   368w,
            ./img/top-sellers/image2-670.jpg 670w,
            ./img/top-sellers/img2-688.jpg   688w,
            ./img/top-sellers/img2-736.jpg   736w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375) 335px, 100vw"
          src="./img/top-sellers/image2-335.jpg"
          alt="a hill of chocolate bars with raisins sprinkled with nut crumbs, a mint leaf on top
            "
          width="335"
          height="464"
        />
      </li>
      <li class="sellers-item seller">
        <img
          class="top-sellers-img"
          srcset="
            ./img/top-sellers/img3-368-1.jpg  1x,
            ./img/top-sellers/img3-736-1.jpg 2x
          "
          src="./img/top-sellers/img3-368-1.jpg"
          alt="a mountain of chocolate bars"
          width="335"
          height="464"
        />
      </li>
    </ul>
    <div class="div-sellers-text">
      <p class="sellers-text-tab">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="sellers-button" data-modal-open-second type="button">Buy now</button>
    </div>
  </div>
</section>



<!-- MODAL BUY NOW -->
<div class="backdrop-modal-buy-now is-hidden" id="modal" data-modal-second>
  <div class="modal-buy-now-cont">
    <div class="modal-buy-now-content">
      <button type="button" data-modal-close-second class="modal-buy-close-button">
        <svg
          class="modal-buy-close-icon"
          width="12"
          height="12"
          id="modal-buy-close-icon"
        >
          <use href="/img/sprite.svg#icon-close-black-modal-buy"></use>
        </svg>
      </button>
      <strong class="modal-buy-now-title"
        ><span class="modal-buy-now-title-word">BUY </span>NOW</strong
      >
      <ul class="modal-buy-now-list list">
        <li class="modal-buy-now-list-item">
          <div class="modal-buy-now-list-item-img-and-text">
            <img
              srcset="
                /img/hero-and-buynow-imgs/buy-now-first-chocolate-mobile-1x.jpg   84w,
                /img/hero-and-buynow-imgs/buy-now-first-chocolate-mobile-2x.jpg  168w,
                /img/hero-and-buynow-imgs/buy-now-first-chocolate-desktop-1x.jpg 120w,
                /img/hero-and-buynow-imgs/buy-now-first-chocolate-desktop-2x.jpg 240w
              "
              sizes="(min-width: 768px) 120px, (min-width: 0px) 84px, 100vw"
              src="/img/hero-and-buynow-imgs/buy-now-first-chocolate-mobile-1x.jpg"
              alt="chocolate-one"
              class="modal-buy-now-list-item-img-chocolate"
            />

            <div class="modal-buy-now-list-item-div">
              <p class="modal-buy-now-list-item-text">100 g</p>
            </div>
          </div>
        </li>
        <li class="modal-buy-now-list-item">
          <div class="modal-buy-now-list-item-img-and-text">
            <img
              srcset="
                /img/hero-and-buynow-imgs/buy-now-second-chocolate-mobile-1x.jpg   84w,
                /img/hero-and-buynow-imgs/buy-now-second-chocolate-mobile-2x.jpg  168w,
                /img/hero-and-buynow-imgs/buy-now-second-chocolate-desktop-1x.jpg 120w,
                /img/hero-and-buynow-imgs/buy-now-second-chocolate-desktop-2x.jpg 240w
              "
              sizes="(min-width: 768px) 120px, (min-width: 0px) 84px, 100vw"
              src="/img/hero-and-buynow-imgs/buy-now-second-chocolate-mobile-1x.jpg"
              alt="chocolate-two"
              class="modal-buy-now-list-item-img-chocolate"
            />
            <div class="modal-buy-now-list-item-div">
              <p class="modal-buy-now-list-item-text">200 g</p>
            </div>
          </div>
        </li>
        <li class="modal-buy-now-list-item">
          <div class="modal-buy-now-list-item-img-and-text">
            <img
              srcset="
                /img/hero-and-buynow-imgs/buy-now-third-chocolate-mobile-1x.jpg   84w,
                /img/hero-and-buynow-imgs/buy-now-third-chocolate-mobile-2x.jpg  168w,
                /img/hero-and-buynow-imgs/buy-now-third-chocolate-desktop-1x.jpg 120w,
                /img/hero-and-buynow-imgs/buy-now-third-chocolate-desktop-2x.jpg 240w
              "
              sizes="(min-width: 768px) 120px, (min-width: 0px) 84px, 100vw"
              src="/img/hero-and-buynow-imgs/buy-now-third-chocolate-mobile-1x.jpg"
              alt="chocolate-three"
              class="modal-buy-now-list-item-img-chocolate"
            />
            <div class="modal-buy-now-list-item-div">
              <p class="modal-buy-now-list-item-text">300 g</p>
            </div>
          </div>
        </li>
      </ul>

      <form class="mobal-buy-now-form">
        <label class="modal-buy-now-labels" for="personal-inf"
          >Personal information</label
        >
        <div class="modal-buy-now-name-and-surname">
          <input
            type="text"
            name="personal-inf"
            class="form-buy-now-field-personal form-buy-now-field-personal-ns"
            id="personal-inf"
            placeholder="Name"
            autocomplete="off"
          />
          <input
            type="text"
            name="personal-inf"
            class="form-buy-now-field-personal form-buy-now-field-personal-ns"
            id="personal-inf-two"
            placeholder="Surname"
            autocomplete="off"
          />
        </div>
        <label class="modal-buy-now-labels" for="personal-email">Email</label>
        <input
          type="email"
          name="personal-email"
          class="form-buy-now-field-email form-buy-now-field-personal"
          id="personal-email"
          placeholder="Enter your email"
          autocomplete="off"
        />
        <label class="modal-buy-now-labels" for="personal-tell"
          >Phone number</label
        >
        <div class="form-buy-now-field-phone-div">
          <input
            type="tel"
            maxlength="9"
            minlength="9"
            name="personal-tell"
            class="form-buy-now-field-phone form-buy-now-field-personal"
            id="personal-tell"
            placeholder="Phone number"
            autocomplete="off"
          />
          <svg class="icon-leftIcon" width="24" height="24">
            <use href="/img/sprite.svg#icon-LeftIcon"></use>
          </svg>
          <p class="form-buy-now-field-phone-text-number">+380</p>
        </div>
        <label class="modal-buy-now-labels" for="personal-card"
          >Card number</label
        >
        <div class="form-buy-now-field-card-div">
          <input
            type="text"
            maxlength="16"
            minlength="16"
            name="personal-card"
            class="form-buy-now-field-card form-buy-now-field-personal"
            id="personal-card"
            placeholder="Enter card"
            autocomplete="off"
          />
          <svg class="icon-mastercard" width="32" height="21">
            <use href="/img/sprite.svg#icon-Mastercard"></use>
          </svg>
        </div>
        <label class="modal-buy-now-labels" for="client-comment">Comment</label>
        <textarea
          name="client-comment"
          class="form-buy-now-field-comment"
          id="client-comment"
          placeholder="Enter text"
          autocomplete="off"
        ></textarea>

        <button class="modal-buy-now-sumbit-button" type="submit">
          Sumbit
        </button>
      </form>
    </div>
  </div>
</div>
