<section id="top-sellers">
  <div class="top-sellers-div container">
    <h2 class="sellers-heading subject">tOp <span class="Sellers-span">Sellers</span></h2>
    <ul class="top-sellers-ul">
      <li class="sellers-item">
        <img
          class="top-sellers-img"
          srcset=""
          src="..//img/top-sellers/img1-335.jpg"
          alt="a slide made of chocolate slabs, next to which there are coffee beans and a nut"
          width="335"
          height="464"
        />

        <p class="sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers-item">
        <img
          class="top-sellers-img"
          srcset=""
          src="..//img/top-sellers/imag2-335.jpg"
          alt="a hill of chocolate bars with raisins sprinkled with nut crumbs, a mint leaf on top
          "
          width="335"
          height="464"
        />
      </li>
      <li class="sellers-item">
        <img
          class="sellers-img"
          srcset=""
          src="..//img/top-sellers/img3-368.jpg"
          alt="a mountain of chocolate bars"
          width="335"
          height="464"
        />
      </li>
    </ul>
    <button class="sellers-button" >Buy now</button>
  </div>
</section>

