<section class="container">
  <div>111</div>
  <h2 class="unique-title">
    IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="taste">TASTE</span> SENSATION
  </h2>
  <p class="unique-text">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>
  <!-- <ul class="list unique-list">
    <li class="card-unique">
      <div class="thumb-card">
                  <img
                    srcset="
                      ./images/
                      ./images/
                      ./images/
                      ./images/
                      ./images/
                      ./images/
                    "
                    sizes="(min-width: 1158px) 360px, (min-width:768px) 356px, (min-width:428px) 396px, 100vw"
                    src="./images
                    alt="chocolate"
                    width="224"
                    height="171"
                  />
                  <p class="overlay-card">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.</p>
        </div>
    </li>
       <li class="card-unique">
          <div class="thumb-card">
                  <img
                    srcset="
                      ./images/
                      ./images/
                      ./images/
                      ./images/
                      ./images/
                      ./images/
                    "
                    sizes="(min-width: 1158px) 360px, (min-width:768px) 356px, (min-width:428px) 396px, 100vw"
                    src="./images
                    alt="chocolate"
                    width="224"
                    height="171"
                  />
                  <p class="overlay-card">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.</p>
           </div>
       </li>
        <li class="card-unique">
            <div class="thumb-card">
                  <img
                    srcset="
                      ./images/
                      ./images/
                      ./images/
                      ./images/
                      ./images/
                      ./images/
                    "
                    sizes="(min-width: 1158px) 360px, (min-width:768px) 356px, (min-width:428px) 396px, 100vw"
                    src="./images
                    alt="chocolate"
                    width="224"
                    height="171"
                 />
                  <p class="overlay-card">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own.</p>
           </div>
       </li>
       </li>
        <li class="card-unique">
            <div class="thumb-card">
                  <img
                    srcset="
                      ./images/
                      ./images/
                      ./images/
                      ./images/
                      ./images/
                      ./images/
                    "
                    sizes="(min-width: 1158px) 360px, (min-width:768px) 356px, (min-width:428px) 396px, 100vw"
                    src="./images
                    alt="chocolate"
                    width="224"
                    height="171"
                 />
                  <p class="overlay-card">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.</p>
           </div>
       </li>

  </ul> -->
</section>
