<section class="container unique-conteiner">
  <div class="unique-title-container">
    <h2 class="unique-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="taste">TASTE</span> SENSATION
    </h2>
    <p class="unique-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
  </div>

  <ul class="unique-list">
    <li class="unique-item">
      <div class="thumb-card">
        <img
          class="centr-img"
          srcset="
         /img/unique/img-1-206.png 206w
         /img/unique/img-1-224.png 224w
         /img/unique/img-1-412.png 412w
         /img/unique/img-1-448.png 448w
         "
          sizes="(min-width: 1200px) 206px, (min-width:768px) 224px, (min-width:375px) 224px, 100vw"
          src="/img/unique/img-1-206.png"
          alt="chocolate"
          width="224"
          height="171"
        />
        <h3 class="unique-card-title">MILK CHOCOLATE</h3>
        <div class="overlay-card" id="text">
          <h3 class="overlay-card-title">MILK CHOCOLATE</h3>
          <button type="button" class="btn-ingredient" id="hider">
            chocolate
          </button>
          <button type="button" class="overlay-btn">the benefits</button>
          <p class="overlay-unique-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </div>
    </li>
    <li class="unique-item scren-chen">
      <div class="thumb-card">
        <img
          class="centr-img"
          srcset="
            /img/unique/img-2-206.png 206w
            /img/unique/img-2-224.png 224w
            /img/unique/img-2-412x.png 412w
            /img/unique/img-2-448.png 448w
            "
          sizes="(min-width: 1200px) 206px, (min-width:768px) 224px, (min-width:375px) 224px, 100vw"
          src="/img/unique/img-2-224.png"
          alt="milk"
          width="224"
          height="171"
        />
        <h3 class="unique-card-title-white">MILK</h3>
        <div class="overlay-card" id="tex">
          <h3 class="overlay-card-title">MILK</h3>
          <button type="button" class="btn-ingredient" id="hidde">milk</button>
          <button type="button" class="overlay-btn">the benefits</button>
          <p class="overlay-unique-text">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system.
          </p>
        </div>
      </div>
    </li>
    <li class="unique-item scren-chen">
      <div class="thumb-card">
        <img
          class="centr-img"
          srcset="
                      /img/unique/img-3-206.png 206w
                      /img/unique/img-3-224.png 224w
                      /img/unique/img-3-412.png 412w
                      /img/unique/img-3-448.png 448w
                    "
          sizes="(min-width: 1200px) 206px, (min-width:768px) 224px, (min-width:375px) 224px, 100vw"
          src="./img/unique/img-3-224.png"
          alt="nut"
          width="224"
          height="171"
        />
        <h3 class="unique-card-title">NUTS</h3>
        <div class="overlay-card" id="texte">
          <h3 class="overlay-card-title">NUTS</h3>
          <button type="button" class="btn-ingredient" id="hid">nuts</button>
          <button type="button" class="overlay-btn">the benefits</button>
          <p class="overlay-unique-text">
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They’re a good source of fiber, healthy fats, and plant
            protein. Plus, they’re great on their own.
          </p>
        </div>
      </div>
    </li>
    <li class="unique-item">
      <div class="thumb-card">
        <img
          class="centr-img"
          srcset="
                      /img/unique/img-4-206.png 206w
                      /img/unique/img-4-224.png 224w
                      /img/unique/img-4-412.png 412w
                      /img/unique/img-4-448.png 448w
                    "
          sizes="(min-width: 1200px) 206px, (min-width:768px) 224px, (min-width:375px) 224px, 100vw"
          src="/img/unique/img-4-224.png"
          alt="sweet chocolate"
          width="224"
          height="171"
        />
        <h3 class="unique-card-title-white">SEMI - SWEET CHOCOLATE</h3>
        <div class="overlay-card" id="textes">
          <h3 class="overlay-card-title">SEMI - SWEET CHOCOLATE</h3>
          <button type="button" class="btn-ingredient" id="hide">
            sweet chocolate
          </button>
          <button type="button" class="overlay-btn">the benefits</button>
          <p class="overlay-unique-text ellipsis">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
<!-- <script>
  document.getElementById('hider').onclick = function () {
    document.getElementById('text').hidden = true;
  };
  document.getElementById('hidde').onclick = function () {
    document.getElementById('tex').hidden = true;
  };
  document.getElementById('hid').onclick = function () {
    document.getElementById('texte').hidden = true;
  };
  document.getElementById('hide').onclick = function () {
    document.getElementById('textes').hidden = true;
  };
</script> -->
