.advantage-container {
  max-width: 375px;
  padding: 20px;
  background-color: #1e1823;
}
@media only screen and (min-width: 768px) {
  .advantage-container {
    max-width: 768px;
    padding: 50px 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .advantage-container {
    max-width: 1200px;
    padding: 50px;
  }
}
.advantage-list {
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .advantage-list {
    max-width: 768px;
    gap: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .advantage-list {
    max-width: 1200px;
    flex-wrap: nowrap;
    gap: 70px;
  }
}
.advantage-item {
  padding-right: 28px;
  padding-bottom: 18px;
}
@media only screen and (min-width: 768px) {
  .advantage-item {
    max-width: 336px;
  }
}
@media only screen and (min-width: 1200px) {
  .advantage-item {
    max-width: 326px;
    padding-right: 18px;
  }
}
.advantage-item:nth-child(2) {
  padding-bottom: 0;
}
.advantage-item:last-child {
  padding-bottom: 16px;
}
.advantage-icon {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  margin-bottom: 22px;
}
.advantage-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;

  margin-bottom: 18px;
}
.advantage-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
