@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat.ttf);
  font-display: swap;
  font-style: normal;
  font-size: 400;
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url(../fonts/Montserrat-Italic.ttf);
  font-display: swap;
  font-style: italic;
  font-size: 700;
}
