footer {
  padding: 32px 0;
  background-color: var(--dark-violet-color);
  max-width: 1200px;
  margin: auto;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 767px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
  }
}

.footer-container::after {
  content: '';
  display: block;

  width: 100%;
  height: 0px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateY(-182px);
}

@media only screen and (min-width: 768px) {
  .footer-container::after {
    transform: translateY(-40px);
  }
}

@media only screen and (min-width: 768px) {
  .footer-desk {
    display: flex;
  }
}

.footer-span {
  color: var(--orange-color);
}

.footer-text {
  max-width: 251px;
  margin-bottom: 34px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;

  letter-spacing: -0.02em;

  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .footer-text {
    max-width: 300px;
    margin-bottom: 78px;
    margin-right: 124px;
    transition: transform 1s;
  }
}

@media only screen and (min-width: 768px) {
  .footer-text:hover,
  .footer-text:focus {
    transform: scale(1.3);
  }
}

@media only screen and (min-width: 1200px) {
  .footer-text {
    margin-bottom: 86px;
    margin-right: 543px;
    transition: transform 1s;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-text:hover,
  .footer-text:focus {
    transform: scale(1.15);
  }
}

.footer-contacts-social {
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  max-width: 164px;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .footer-contacts {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-contacts {
    margin-right: 63px;
  }
}

.contacts-text {
  margin-bottom: 14px;

  font-weight: 500;
  line-height: 1.3;
  color: #ffffff;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-address {
  margin-bottom: 64px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;

  color: #ffffff;
}

.footer-item-tel {
  margin-bottom: 4px;
}

.footer-address-link {
  transition: color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--orange-color);
}

.footer-social-list {
  display: flex;
  gap: 14px;
}

.footer-social-icon {
  fill: var(--dark-violet-color);
  stroke: #ffffff;
  height: 22px;
  width: 22px;
}

@media only screen and (min-width: 768px) {
  .footer-social-icon {
    height: 24px;
    width: 24px;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 768px) {
  .footer-social-icon:hover,
  .footer-social-icon:focus {
    stroke: var(--orange-color);
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .footer-nav {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media only screen and (min-width: 768px) {
  .footer-nav-list {
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
  }
}

.footer-nav-link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;

  align-items: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .footer-nav-link {
    transition: color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
}

@media only screen and (min-width: 768px) {
  .footer-nav-link:hover,
  .footer-nav-link:focus {
    color: var(--orange-color);
  }
}
