/**
  |============================
  | HERO SECTION
  |============================
*/

@media only screen and (max-width: 767px) {
  br {
    display: none;
  }
}

.hero-container-section {
  padding-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .hero-container-section {
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-container-section {
    padding-bottom: 72px;
  }
}

.hero-container {
  margin-left: auto;
  margin-right: auto;
  padding: 370px 20px 20px 20px;
  background-color: #fafafa;
  width: 100%;
  height: 620px;
  background: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(/img/hero-and-buynow-imgs/background-img-mobile-1x.jpg);
  border-radius: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/hero-and-buynow-imgs/background-img-mobile-2x.jpg);
  }
}

@media only screen and (min-width: 375px) {
  .hero-container {
    width: 335px;
    padding: 395px 20px 20px 20px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-container {
    padding: 671px 40px 40px 40px;
    width: 704px;
    height: 890px;
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/hero-and-buynow-imgs/tablet-background-img-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(/img/hero-and-buynow-imgs/tablet-background-img-2x.jpg);
    }
  }
}
@media only screen and (min-width: 1200px) {
  .hero-container {
    padding: 381px 40px 40px 40px;
    width: 1136px;
    height: 600px;
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/hero-and-buynow-imgs/background-image-desktop-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(/img/hero-and-buynow-imgs/background-image-desktop-2x.jpg);
    }
  }
}

.hero-content {
}

@media only screen and (min-width: 768px) {
  .hero-content {
  }
}

.hero-uppertitle {
  width: 257px;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

@media only screen and (min-width: 375px) {
  .hero-uppertitle {
    width: 299px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-uppertitle {
    width: 484px;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
  }
}

.hero-buttons-div {
}

@media only screen and (min-width: 768px) {
  .hero-buttons-div {
    display: flex;
    flex-direction: row;
  }
}

.hero-button-list {
  margin-top: 32px;
  display: flex;
  gap: 14px;
}

.hero-scroll-down-div {
  margin-top: 32px;
  display: flex;

  align-items: center;
}

@media only screen and (min-width: 768px) {
  .hero-scroll-down-div {
    margin-left: 153px;
    align-items: end;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-scroll-down-div {
    margin-left: 583px;
  }
}

.hero-scroll-down-link {
  margin-left: 12px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  height: 28px;
  width: 28px;
  transition: background-color 300ms;
}

@media only screen and (min-width: 768px) {
  .hero-scroll-down-link.link {
    margin-left: 14px;
    height: 38px;
    width: 38px;
  }
}
.hero-button-list-button {
  height: 41px;
  width: 110px;

  background-color: #fd9222;
  border-radius: 100px;
  padding: 12px 18px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
  border: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero-button-list-button:after {
  content: '';
  background: #fcf1e0;

  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.hero-button-list-button:hover:after,
.hero-button-list-button:focus:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (min-width: 375px) {
  .hero-button-list-button {
    width: 120px;
    padding: 12px 28px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-button-list-button {
    height: 45px;
    width: 144px;
  }
}
.hero-button-list-button:hover,
.hero-button-list-button:focus {
  color: #fd9222;
}

.hero-button-list-item {
  display: flex;
  width: 130px;
  height: 41px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  transition: border 300ms;
}

@media only screen and (min-width: 375px) {
  .hero-button-list-item {
    width: 159px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-button-list-item {
    width: 183px;
    height: 45px;
  }
}

.hero-button-list-button-link {
  text-align: center;
  width: 116px;
  height: 41px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  border-radius: 100px;
  border-color: #ffffff;
  padding: 12px 1px;
  transition: color 300ms;
  color: #ffffff;
}

@media only screen and (min-width: 375px) {
  .hero-button-list-button-link {
    width: 159px;
    padding: 12px 27px;
  }
}
@media only screen and (min-width: 768px) {
  .hero-button-list-button-link {
    width: 183px;
    height: 45px;
    padding: 14px 39px;
  }
}

.hero-button-list-button-link:hover,
.hero-button-list-button-link:focus {
  color: #fd9222;
}
.hero-button-list-item:hover,
.hero-button-list-item:focus {
  border: 1px solid #fd9222;
}

.hero-scroll-down-text {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  color: #ffffff;
  padding-top: 8px;
  transition: color 300ms;
}
@media only screen and (min-width: 768px) {
  .hero-scroll-down-text {
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero-scroll-down-icon {
  fill: #fd9222;
  transition: fill 300ms;
}

.hero-scroll-down-icon {
  position: absolute;
  margin-left: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 7px;
}

@media only screen and (min-width: 768px) {
  .hero-scroll-down-icon {
    width: 15px;
    height: 9px;
  }
}
.hero-scroll-down-div:hover > .hero-scroll-down-text {
  color: #fd9222;
}

.hero-scroll-down-div:hover > .hero-scroll-down-link {
  background-color: #fd9222;
}

.hero-scroll-down-div:hover > .hero-scroll-down-link > .hero-scroll-down-icon {
  fill: #fff;
}

/**
  |============================
  | MODAL BUYNOW
  |============================
*/

.backdrop-modal-buy-now {
  overscroll-behavior: contain;
  z-index: 999;
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
}
@media only screen and (min-width: 375px) {
  .backdrop-modal-buy-now {
    max-height: calc(100vh);
  }
}

.backdrop-modal-buy-now.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-buy-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: none;
  padding: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 50%;
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  modal-buy-close-button {
    width: 26px;
    height: 26px;
    top: 20px;
    right: 20px;
  }
}
.modal-buy-now-cont {
  margin: 0 auto;
  position: relative;
  width: 311px;
  min-height: 994px;
  background: #fafafa;
  border-radius: 15px;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .modal-buy-now-cont {
    width: 609px;
    min-height: 1058px;
  }
}

.modal-buy-now-content {
  padding: 32px 24px 32px 24px;
}

@media only screen and (min-width: 768px) {
  .modal-buy-now-content {
    padding: 48px;
  }
}

.modal-buy-now-title {
  display: block;
  margin: 0 auto 32px auto;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
}
.modal-buy-now-title-word {
  color: #fd9222;
}
@media only screen and (min-width: 768px) {
  .modal-buy-now-title {
    font-size: 24px;
    line-height: 1.2;
  }
}

.modal-buy-now-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media only screen and (min-width: 768px) {
  .modal-buy-now-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.modal-buy-now-list-item-img-and-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 77px;
}

@media only screen and (min-width: 768px) {
  .modal-buy-now-list-item-img-and-text {
    flex-direction: column;
    gap: 14px;
  }
}

.modal-buy-now-list-item {
  width: 263px;
  height: 85px;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: border 300ms;
}

.modal-buy-now-list-item:hover,
.modal-buy-now-list-item:focus {
  border: 1px solid #fd9222;
}

@media only screen and (min-width: 768px) {
  .modal-buy-now-list-item {
    width: 160px;
    height: 196px;
    justify-content: center;
    align-items: flex-end;
  }
}

.modal-buy-now-list-item-div {
  padding: 6px 15px;
  margin-right: 16px;
  width: 73px;
  height: 29px;

  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}
@media only screen and (min-width: 768px) {
  .modal-buy-now-list-item-div {
    margin-bottom: 18px;
    margin-right: 0px;
  }
}

.modal-buy-now-list-item-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #111111;
}

.mobal-buy-now-form {
  margin-top: 32px;
}
@media only screen and (min-width: 768px) {
  .mobal-buy-now-form {
    margin-top: 40px;
  }
}

.modal-buy-now-labels {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
  display: block;
  color: #000000;
}

@media only screen and (min-width: 768px) {
  .modal-buy-now-labels {
    font-size: 14px;
    line-height: 1.28;
  }
}
.form-buy-now-field-personal {
  display: block;
  width: 263px;
  height: 45px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  padding: 14px 18px;
  background-color: #fafafa;
  outline: none;
  transition: border 300ms;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: #000000;
}
.form-buy-now-field-personal:focus {
  border: 1px solid rgb(253, 146, 34);
}

.form-buy-now-field-personal:not(:first-child) {
  margin-bottom: 18px;
}
.modal-buy-now-name-and-surname {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media only screen and (min-width: 768px) {
  .modal-buy-now-name-and-surname {
    flex-direction: row;
    gap: 21px;
  }
}

@media only screen and (min-width: 768px) {
  .form-buy-now-field-personal-ns {
    width: 246px;
    height: 66px;
  }
}

.form-buy-now-field-personal::placeholder {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.4);
}

@media only screen and (min-width: 768px) {
  .form-buy-now-field-personal::placeholder {
    font-size: 18px;
    line-height: 1.22;
  }
}

.form-buy-now-field-phone-div {
  position: relative;
}

.icon-leftIcon {
  position: absolute;
  top: 10px;
  left: 18px;
}

.form-buy-now-field-card-div {
  position: relative;
}

.form-buy-now-field-card {
  margin-bottom: 18px;
}

@media only screen and (min-width: 768px) {
  .form-buy-now-field-card {
    width: 513px;
    height: 66px;
  }
}

.icon-mastercard {
  position: absolute;
  top: 12px;
  right: 14px;
}

@media only screen and (min-width: 768px) {
  .icon-mastercard {
    width: 44px;
    height: 30px;
    top: 18px;
    right: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .form-buy-now-field-email {
    width: 513px;
    height: 66px;
  }
}

.form-buy-now-field-phone-text-number {
  display: block;
  position: absolute;
  top: 14px;
  left: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: #000000;
}

.form-buy-now-field-phone-text-number::after {
  position: absolute;
  top: 50%;
  left: 32px;
  content: '';
  display: block;
  width: 25px;
  height: 1px;
  border: 0.5px solid #e2e2e2;
  transform: rotate(90deg);
}

@media only screen and (min-width: 768px) {
  .form-buy-now-field-phone-text-number::after {
    left: 60px;
    width: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .form-buy-now-field-phone-text-number {
    left: 74px;
    top: 23px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.form-buy-now-field-phone {
  margin-bottom: 18px;
  padding-left: 106px;
}
@media only screen and (min-width: 768px) {
  .form-buy-now-field-phone {
    padding-left: 180px;
  }
}

@media only screen and (min-width: 768px) {
  .form-buy-now-field-phone {
    width: 513px;
    height: 66px;
  }
}

.form-buy-now-field-comment {
  display: block;
  width: 263px;
  height: 91px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  padding: 14px 18px;
  background-color: #fafafa;
  resize: none;
  outline: none;
  transition: border 300ms;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: #000000;
}

.form-buy-now-field-comment:focus {
  border: 1px solid rgb(253, 146, 34);
}

@media only screen and (min-width: 768px) {
  .form-buy-now-field-comment {
    width: 513px;
    height: 137px;
  }
}

.form-buy-now-field-comment::placeholder {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.4);
}

@media only screen and (min-width: 768px) {
  .form-buy-now-field-comment::placeholder {
    font-size: 18px;
    line-height: 1.22;
  }
}

.modal-buy-now-sumbit-button {
  margin-top: 30px;
  border: none;
  background-color: #fd9222;
  border-radius: 100px;
  width: 109px;
  height: 41px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.16;
  color: #ffffff;
  transition: background-color 300ms, color 300ms;
}

@media only screen and (min-width: 768px) {
  .modal-buy-now-sumbit-button {
    width: 133px;
    height: 45px;
    margin-top: 18px;
  }
}

.modal-buy-now-sumbit-button:hover,
.modal-buy-now-sumbit-button:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.modal-buy-close-icon {
  fill: rgb(46, 47, 66);
  transition: fill 300ms;
}

.modal-buy-close-button:hover > .modal-buy-close-icon {
  fill: #fd9222;
}

@media only screen and (min-width: 768px) {
  .modal-buy-close-icon {
    width: 14px;
    height: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .icon-leftIcon {
    top: 17px;
    left: 24px;
    width: 32px;
    height: 32px;
  }
}
