.how-its-made-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black-color);
  margin-bottom: 32px;
}
.how-its-made-title-accent {
  color: var(--orange-color);
}
@media only screen and (min-width: 768px) {
  .how-its-made-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.how-its-made-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media only screen and (min-width: 1200px) {
  .how-its-made-sections {
    flex-direction: row;
  }
}
.how-its-made-video-section {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
}
.how-its-made-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .how-its-made-video-section {
    width: 614px;
    height: 400px;
  }
}
@media only screen and (min-width: 1200px) {
  .how-its-made-video-section {
    width: 600px;
  }
}
.how-its-made-text-section {
  max-width: 335px;
  min-height: 456px;
  padding: 20px 14px;
  background-color: #ffffff;
  border-radius: 15px;
}
@media only screen and (min-width: 768px) {
  .how-its-made-text-section {
    max-width: 614px;
    min-height: 356px;
    padding: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .how-its-made-text-section {
    max-width: 516px;
    min-height: 400px;
  }
}
.how-its-made-text {
  max-width: 307px;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .how-its-made-text {
    max-width: 550px;
  }
}
@media only screen and (min-width: 1200px) {
  .how-its-made-text {
    max-width: 452px;
  }
}
.how-its-made-subtitle {
  max-width: 307px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--black-color);
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .how-its-made-subtitle {
    max-width: 350px;
    margin-bottom: 28px;
  }
}
.how-its-made-list {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
@media only screen and (min-width: 1200px) {
  .how-its-made-list {
    row-gap: 24px;
  }
}
.how-its-made-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--black-color);
  padding-left: 16px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .how-its-made-item {
    padding-right: 70px;
  }
}
@media only screen and (min-width: 1200px) {
  .how-its-made-item {
    padding-right: 26px;
  }
}
.how-its-made-item::before {
  position: absolute;
  left: 0px;
  top: 5px;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
  margin-right: 8px;
}
