.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .reviews {
    padding-bottom: 128px;
  }
}

.reviews-conteiner-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.reviews-heading {
  margin-bottom: 74px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: var(--black-color);
}
/* -----------Customer card reviews ---------------- */
.reviews-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;

  margin-bottom: 65px;
}
@media only screen and (min-width: 768px) {
  .reviews-wrapper {
    margin-bottom: 94px;
  }
}
@media only screen and (min-width: 1200px) {
  .reviews-wrapper {
    column-gap: 28px;
  }
}

.reviews-text-color {
  color: var(--orange-color);
}
@media only screen and (min-width: 768px) {
  .reviews-heading {
    margin-bottom: 91px;
    font-size: 24px;
    line-height: 1.17;
  }
}

.reviews-card {
  position: relative;

  width: 100%;
  height: 200px;
  padding: 18px;

  background-color: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}
@media only screen and (min-width: 768px) {
  .reviews-card {
    flex-basis: calc((100% - 16px) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  .reviews-card {
    flex-basis: calc((100% - 56px) / 3);
  }
}
@media only screen and (max-width: 768px) {
  .reviews-card.hidden-card-mobil {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .reviews-card.hidden-card-mobil {
    display: block;
  }
}
@media only screen and (max-width: 1199px) {
  .reviews-card.hidden-tel-tablet {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .reviews-card.hidden-tel-tablet {
    display: block;
  }
}
.reviews-card .reviews-thumb {
  background-size: cover;

  position: absolute;
  top: -20%;
  right: 50%;
  transform: translateX(50%);
}
.reviews-customers-name {
  user-select: none;
  margin-top: 38px;
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;

  color: var(--black-color);
}
.reviews-customers-feedback {
  user-select: none;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
/* -----------Reviews btn ---------------- */
.reviews-btn {
  display: block;

  padding: 12px 28px;

  min-width: 165px;
  height: 41px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: var(--black-color);

  border: 1px solid var(--orange-color);
  border-radius: 100px;

  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.reviews-btn::after {
  content: '';
  background: #fd9222;

  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}
.reviews-btn:hover:after,
.reviews-btn:focus:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.reviews-btn:hover,
.reviews-btn:focus {
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .reviews-btn {
    padding: 14px 40px;

    width: 222px;
    height: 50px;

    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    transition: color 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}

/* -----------Modal  ---------------- */

.review-backdrop {
  position: fixed;
  z-index: 1000;
  background: rgba(46, 47, 66, 0.4);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
}
.review-backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.review-modal {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 24px;

  min-height: 471px;
  width: 311px;

  background-color: #fafafa;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
@media only screen and (min-width: 768px) {
  .review-modal {
    min-height: 628px;
    width: 517px;
    padding: 40px;
  }
}
.reviews-modal-heading {
  margin-bottom: 32px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .reviews-modal-heading {
    margin-right: 120px;
    font-size: 24px;
    line-height: 1.16;
  }
}
@media only screen and (max-width: 768px) {
  .reviews-heading-modal-statik {
    padding-right: 22px;
  }
}

.review-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 14px;
  top: 14px;

  border: none;
  background-color: transparent;

  width: 24px;
  height: 24px;

  transition: fill 300ms;

  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .review-close-btn {
    width: 28px;
    height: 28px;
    right: 24px;
    top: 24px;
  }
}
.modal-close-icon {
  fill: rgb(46, 47, 66);
  transition: fill 300ms;
}
.review-close-btn:hover .modal-close-icon,
.review-close-btn:focus .modal-close-icon {
  fill: #fd9222;
}

/* ----------- Reviews form ---------------- */

.review-form-field {
  display: block;
  padding: 14px 18px;
  width: 263px;
  height: 45px;

  border: 1px solid rgba(17, 17, 17, 0.05);

  background-color: var(--white-color);
  border-radius: 8px;

  transition: border 300ms;
}
.review-form-field:focus {
  outline: 1px solid rgb(253, 146, 34);
}
.review-form-field::placeholder {
  font-size: 14px;
  line-height: 1.21;

  letter-spacing: -0.02em;

  color: #000000;
}
@media only screen and (min-width: 768px) {
  .review-form-field {
    width: 100%;
    height: 66px;
    padding: 22px 24px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.reviews-input-phone-wrapper {
  position: relative;
}
.review-icon-flag {
  position: absolute;
  top: 10px;
  left: 18px;
}
@media only screen and (min-width: 768px) {
  .review-icon-flag {
    width: 32px;
    height: 24px;
    top: 20px;
    left: 24px;
  }
}
.review-country-code {
  position: absolute;
  top: 14px;
  left: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: #000000;
}
@media only screen and (min-width: 768px) {
  .review-country-code {
    font-size: 18px;
    line-height: 1.22;
    top: 22px;
    left: 74px;
  }
}
.review-country-code::after {
  position: absolute;
  top: 50%;
  left: 32px;
  content: '';
  display: block;
  width: 25px;
  height: 1px;
  border: 0.5px solid var(--background-color);
  transform: rotate(90deg);
}
@media only screen and (min-width: 768px) {
  .review-country-code::after {
    left: 60px;
  }
}
.review-form-field-margin {
  padding-left: 106px;
}
@media only screen and (min-width: 768px) {
  .review-form-field-margin {
    padding-left: 177px;
  }
}
.review-form-client {
  width: 100%;
}
.client-send-review-btm {
  padding: 12px 28px;

  min-width: 93px;
  height: 41px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: #ffffff;

  background-color: var(--orange-color);
  border-radius: 100px;

  border: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.client-send-review-btm:after {
  content: '';
  background: #fcf1e0;

  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.client-send-review-btm:hover:after,
.client-send-review-btm:focus:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.client-send-review-btm:hover,
.client-send-review-btm:focus {
  color: var(--orange-color);
}
.review-form-client {
  display: block;
  width: 100%;
  height: 91px;
  padding: 14px 18px;

  border: 1px solid rgba(17, 17, 17, 0.05);

  border-radius: 8px;

  resize: none;
}
@media only screen and (min-width: 768px) {
  .review-form-client {
    height: 137px;
    padding: 22px 24px;
  }
}
.review-form-label {
  display: block;
  margin-bottom: 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.21px;

  letter-spacing: -0.02em;

  color: #000000;
}
@media only screen and (min-width: 768px) {
  .review-form-label {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 1.22;
  }
}
