.subscribe-section {
  padding-top: 62px;
  padding-bottom: 63px;
  background-color: var(--dark-violet-color);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(/img/subscribe/subcribe-mob@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  max-width: 1200px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(/img/subscribe/subcribe-mob@2x.jpg);
  }
}

@media only screen and (min-width: 376px) {
  .hero {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(/img/subscribe/subcribe-tab@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        url(/img/subscribe/subcribe-tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(/img/subscribe/subcribe-desk@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        url(/img/subscribe/subcribe-desk@2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .subscribe-section {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.subscribe-title {
  max-width: 291px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .subscribe-title {
    font-size: 24px;
    line-height: 1.17;
    max-width: 378px;
  }
}

.subscribe-describe {
  max-width: 326px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .subscribe-describe {
    max-width: 467px;
  }
}

.subscribe-btn {
  position: relative;
  display: block;
  padding: 12px 28px;
  background-color: var(--orange-color);
  color: #ffffff;
  border-radius: 100px;
  border: none;
  min-width: 128px;
  min-height: 41px;

  z-index: 1;
  overflow: hidden;

  font-weight: 600;
  line-height: 1.21;

  transition: color 1s cubic-bezier(0.4, 0, 0.2, 1);
  /* background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) */
}

@media screen and (min-width: 768px) {
  .subscribe-btn {
    padding: 14px 40px;
    min-width: 172px;
    min-height: 50px;
    line-height: 1.22;
  }
}

.subscribe-btn:after {
  content: '';
  background-color: #fcf1e0;

  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.subscribe-btn:hover:after,
.subscribe-btn:focus:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  color: var(--orange-color);
}

/* ================= MODAL WINDOW SUBSCRIBE ============== */

.backdrop-modal-subscribe {
  z-index: 999;
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-modal-subscribe.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-subscribe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  min-height: 350px;
  background: var(--white-color);
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .modal-subscribe {
    width: 538px;
  }
}

.modal-subscribe-close-btn {
  position: absolute;
  padding: 0;
  line-height: 0;
  top: 21px;
  right: 20px;
  background-color: transparent;
  border: none;
  fill: var(--white-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal-subscribe-close-btn {
    top: 31px;
    right: 31px;
  }
}

.modal-subscribe-close-btn:hover,
.modal-subscribe-close-btn:focus {
  fill: var(--orange-color);
}

@media screen and (min-width: 768px) {
  .modal-subscribe-close-icon {
    width: 14px;
    height: 14px;
  }
}

.background-img {
  max-width: 311px;
  height: 169px;
  border-radius: 15px 15px 0px 0px;
  background-color: var(--dark-violet-color);
  background-image: url(/img/subscribe/subcribe-modal-mob@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .background-img {
    background-image: url(/img/subscribe/subcribe-modal-mob@2x.jpg);
  }
}

@media only screen and (min-width: 312px) {
  .background-img {
    max-width: 538px;
    background-image: url(/img/subscribe/subcribe-modal-tab-desk@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-img {
      background-image: url(/img/subscribe/subcribe-modal-tab-desk@2x.jpg);
    }
  }
}

.subscribe-modal-field {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .subscribe-modal-field {
    padding: 40px;
  }
}

.subscribe-title-dark {
  color: var(--black-color);
  text-align: left;
}
.subscribe-title-accent {
  display: inline-block;
  color: var(--orange-color);
}
.subscribe-form {
  position: relative;
}
.subscribe-modal-form-input {
  height: 45px;
  width: 100%;
  padding: 14px 118px 14px 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
  color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .subscribe-modal-form-input {
    height: 52px;
    width: 313px;
    padding: 14px 24px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.subscribe-modal-form-input:focus {
  outline: none;
  border: 1.5px solid var(--orange-color);
}
.subscribe-form-input::placeholder {
  color: rgba(64, 64, 64, 0.3);
}
.subscribe-submit-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 22px;
  min-width: 100px;
  height: 45px;
}

@media screen and (min-width: 768px) {
  .subscribe-submit-btn {
    padding: 18px 32px;
    min-width: 137px;
    height: 52px;
  }
}
